.wrapper {
  margin: 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;

  .vertical-wrapper {
    flex: 1 1 auto;

    &.top {
      flex: 1 0 200px;
      max-height: 200px;
    }

    &.middle {
      align-self: stretch;
      justify-content: center;
      align-items: center;

      > img {
        width: 536px;
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      .header-layout {
        font-size: 42px;
        margin-top: 36px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #424242;
        word-break: keep-all;
      }

      .button-layout {
        flex-direction: row;
        margin-top: 28px;
        width: 100%;
        justify-content: center;
        text-align: center;

        button {
          max-width: 200px;
          height: 36px;
          width: 100%;
          border-radius: 4px;
          padding: 8px 0;
          font-size: 14px;
          font-weight: var(--font-weight-regular);
          line-height: 0;
          background-color: none;
          border: none;
          cursor: pointer;

          &:last-child {
            margin-left: 16px;
          }

          &.free-standard {
            border: 1px solid #478bff;
            color: #478bff;
            background-color: #fff;
          }

          &.advanced {
            background-color: #478bff;
            color: #fff;
          }
        }
      }
    }
  }
}
