.topNav {
  display: flex;
  flex: 1;
  height: 48px;
  padding: 0 20px 0 8px;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e9;
  box-shadow: 0 8px 10px 0 rgb(0 0 0 / 2%);
  box-sizing: border-box;
}
